@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    /* CSS HEX */
    --space-cadet: #2b2d42ff;
    --manatee: #8d99aeff;
    --alice-blue: #edf2f4ff;
    --imperial-red: #ef233cff;
    --crimson: #d80032ff;
    
    /* CSS HSL */
    --space-cadet: hsla(235, 21%, 21%, 1);
    --manatee: hsla(218, 17%, 62%, 1);
    --alice-blue: hsla(197, 24%, 94%, 1);
    --imperial-red: hsla(353, 86%, 54%, 1);
    --crimson: hsla(346, 100%, 42%, 1);

    /* spacing */
    --my-width: 24em;
}

* {
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}

body {
    margin: 0;
    background-color: var(--space-cadet);
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
}

button {
    min-height: 2em;
}

canvas {
    width: var(--my-width);
    height: var(--my-width);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#controls {
    display: grid;
    max-width: var(--my-width);
    row-gap: 1em;
}

#controls>div {
    min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#game-pad{
    position: relative;
    width: 24em;
    height: 24em;
}

#game-pad>button {
    font-size: 4em;
    width: 2em;
    height: 2em;
    padding: 0;
}

#controls-game-pad-button-up {
    position: absolute;
    top: 0;
    left: 2em;
}

#controls-game-pad-button-down {
    position: absolute;
    bottom: 0;
    left: 2em;
}

#controls-game-pad-button-left {
    position: absolute;
    top: 2em;
    left: 0;
}

#controls-game-pad-button-right {
    position: absolute;
    top: 2em;
    right: 0;
}

/* game pad for pong */

#game-pad-for-pong{
    position: relative;
    width: 24em;
    height: 24em;
}

#game-pad-for-pong>button {
    font-size: 4em;
    width: 2em;
    height: 2em;
    padding: 0;
}

#controls-game-pad-for-pong-p1-button-left {
    position: absolute;
    top: 0;
    left: 0;
}

#controls-game-pad-for-pong-p1-button-right {
    position: absolute;
    top: 0;
    right: 0;
}

#controls-game-pad-for-pong-p2-button-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

#controls-game-pad-for-pong-p2-button-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
